<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLinkCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QLinkCleaner.Properties.Settings>
            <setting name="FollowSystemStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanNowWhenStartingApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMonitoringWhenStartingApp" serializeAs="String">
                <value>True</value>
            </setting>
        </QLinkCleaner.Properties.Settings>
    </userSettings>
</configuration>